.lodging-page{
    display: flex;
    flex-direction: column;
}

.lodging-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
    @include mobile{
        flex-direction: column;
    }
    
    &__title{
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1{
            color: $primary-color;
            margin: 0;
            font-weight: 500;
            font-size: 36px;
            @include mobile{
                font-size: 18px;
            }
        }

        &--location{
            color: $primary-color;
            margin: 0;
            font-size: 18px;
            @include mobile{
                font-size: 14px;
            }
        }

        &--tags{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }

    &__host{
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include mobile{
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
}

.lodging-collapses{
    display: flex;
    flex-direction: row;
    gap: 5%;
    @include mobile{
        flex-direction: column;
    }

    &__container{
        width: 100%;
    }

    p{
        margin: 0;
    }
}