html {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  margin-inline: 50px;
}
@media screen and (max-width: 768px) {
  main {
    margin-inline: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    margin-inline: 5px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 50px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    margin: 10px 20px 20px 20px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin: 10px 20px 20px 20px;
  }
}
.header__logo {
  height: 65px;
}
@media screen and (max-width: 768px) {
  .header__logo {
    height: 45px;
  }
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .header__nav-list {
    gap: 10px;
  }
}
.header__nav-link {
  color: #FF6060;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .header__nav-link {
    font-size: 12px;
  }
}
.header__nav-link--active {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 209px;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 0 120px;
  }
}
.footer__logo {
  height: 39px;
  margin: 30px 0;
}
@media screen and (max-width: 768px) {
  .footer__logo {
    margin: 0;
  }
}
.footer__text {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer__text {
    font-size: 12px;
  }
}

.about__container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  width: 80%;
}

.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FF6060;
  margin: 100px 0;
  gap: 50px;
}
.notFoundContainer__number {
  font-weight: 700;
  font-size: 288px;
  margin: 0;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .notFoundContainer__number {
    font-size: 96px;
  }
}
.notFoundContainer__text {
  font-size: 36px;
  margin: 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .notFoundContainer__text {
    font-size: 18px;
  }
}
.notFoundContainer__link {
  color: #FF6060;
  text-decoration: underline;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .notFoundContainer__link {
    font-size: 14px;
  }
}

.lodging-page {
  display: flex;
  flex-direction: column;
}

.lodging-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
}
@media screen and (max-width: 768px) {
  .lodging-info {
    flex-direction: column;
  }
}
.lodging-info__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.lodging-info__title h1 {
  color: #FF6060;
  margin: 0;
  font-weight: 500;
  font-size: 36px;
}
@media screen and (max-width: 768px) {
  .lodging-info__title h1 {
    font-size: 18px;
  }
}
.lodging-info__title--location {
  color: #FF6060;
  margin: 0;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .lodging-info__title--location {
    font-size: 14px;
  }
}
.lodging-info__title--tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.lodging-info__host {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .lodging-info__host {
    flex-direction: row-reverse;
  }
}

.lodging-collapses {
  display: flex;
  flex-direction: row;
  gap: 5%;
}
@media screen and (max-width: 768px) {
  .lodging-collapses {
    flex-direction: column;
  }
}

.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 223px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .banner {
    height: 160px;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    height: 111px;
    border-radius: 10px;
    justify-content: left;
    padding-right: 90px;
  }
}
.banner__content {
  position: relative;
  z-index: 2;
}
.banner__content h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .banner__content h1 {
    font-size: 24px;
  }
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 25px;
}
@media screen and (max-width: 768px) {
  .banner::before {
    border-radius: 10px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 340px;
}
@media screen and (max-width: 768px) {
  .card {
    height: 255px;
  }
}
.card img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  filter: brightness(0.7);
}
.card h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.gallery {
  background-color: #F6F6F6;
  margin: 30px 0;
  padding: 40px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
    padding: 0;
    background-color: none;
  }
}

.collapse {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.collapse .collapse-title {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FF6060;
  cursor: pointer;
}
.collapse .collapse-title h2 {
  margin: 0;
  font-size: 16px;
  color: white;
}
.collapse .collapse-title img {
  display: flex;
  width: 20px;
  height: 20px;
  transition: transform 0.5s ease-in-out;
}
.collapse .collapse-title .rotate {
  transform: rotate(180deg);
}
.collapse .collapse-content {
  padding: 0;
  background-color: #F6F6F6;
  color: #FF6060;
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.collapse.open .collapse-content {
  visibility: visible;
  opacity: 1;
  padding: 15px;
  transform: scaleY(1);
}

.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
}
@media screen and (max-width: 768px) {
  .slideshow {
    height: 335px;
  }
}
.slideshow__cover {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  filter: brightness(0.9);
}
.slideshow .arrowLeft, .slideshow .arrowRight {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  height: 80px;
  width: 47px;
}
.slideshow .arrowLeft {
  left: 20px;
}
.slideshow .arrowRight {
  right: 20px;
}
.slideshow .numbering {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: 500;
  font-size: 24px;
}

.tag {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #FF6060;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
}
.tag p {
  margin: 0;
  text-align: center;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .tag p {
    font-size: 10px;
  }
}

.host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.host__name {
  margin-right: 20px;
}
.host__name p {
  margin: 0;
  color: #FF6060;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .host__name p {
    font-size: 12px;
  }
}
.host__picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .host__picture {
    width: 32px;
    height: 32px;
  }
}

.rating {
  display: flex;
  align-items: center;
}
.rating .fa-star {
  font-size: 24px;
  margin-left: 10px;
}
.rating .fa-star.full-star {
  color: #FF6060;
}
.rating .fa-star.empty-star {
  color: #E3E3E3;
}

/*# sourceMappingURL=main.css.map */
