html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}


main{
    margin-inline: 50px;
    @include mobile{
        margin-inline: 20px;
    }
}